.accordion, .menu {
  margin: 0;
  padding: 0;
  overflow: auto;}

.accordion li {
  list-style-type: none;
	float: left;
	/*display: inline-block;*/
}

.accordion-control {
  display: block;
 }

.accordion-panel {
	width: 188px;
	height: 200px;
  	display: none;
	margin: 10px;
	text-align: left;
}

.accordion-panel p {
  margin: 20px;}

/*.accordion-panel img {
  display: block;
  clear: left;}*/