.accordion, .menu {
  margin: 0;
  padding: 0;
  overflow: auto;}

.accordion li {
  list-style-type: none;
	float: left;
	/*display: inline-block;*/
}

.accordion-control {
  display: block;
 }

.accordion-panel {
	width: 450px;
	height: 300px;
  	display: none;
}

.accordion-panel p {
  margin: 20px;}

/*.accordion-panel img {
  display: block;
  clear: left;}*/