/*Body and Header Styling*/
body{
	background-color: #1c1c1c;
	background-image: url(../images/background/asfalt-light.png);
	font-family: serif;
	text-align: center;
	font-size: 18px;
	color:#faebd7;
}

header h1{
	font-family: serif;
	text-align: center;
	font-size: 75px;
	color:#faebd7;
	margin-bottom: 10px;
}

header p{
	font-family: serif;
	text-align: center;
	font-size: 25px;
	color:#faebd7;	
	
}

/*Gallery and Images Styling*/
.dvdGallery{
	text-align: center;
	margin: 0px;
	padding:20px;
	clear: both;
}

.dvdContainer{
	margin-bottom: 20px;
	text-align: center;
}

img{
	width: 188px;
	height: 286px;
	/*padding: 10px;*/
}

/*Search Bar and Button Styling*/
#search {
	text-align: center;
	margin: 10px;
	display: block;
}

#randomButton button{
	text-align: center;
	background-color: #ccc;
	color: #00000;
	padding: 10px 20px;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 10px;
	font-size: 16px;
	border-radius: 24px;
	overflow: hidden;
	outline: none;
	
}

#search input[type=text]{
	width: 230px;
	height: 25px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-image: url(../images/icons/kiddysearch.png);
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding: 12px 25px;
}

#search input[type=text]:focus{
	outline: none;
}

.buttons button, #randomButton button{
	text-align: center;
	background-color: #ccc;
	color: #00000;
	padding: 10px 20px;
	margin-right: 5px;
	margin-bottom: 10px;
	font-size: 16px;
	border-radius: 24px;
	overflow: hidden;
	outline: none;
}

.buttons button:hover, #randomButton button:hover{
	cursor: pointer;
    border: 5px blue solid;
}

.buttons button.active{
	 border: 5px blue solid;
}

#randomButton button.active:active{
	border: 5px blue solid;
}
