/*Body and Header Styling*/
body{
	background-color: #1c1c1c;
	background-image: url(../images/background/asfalt-light.png);
}

header{
	font-family: 'Permanent Marker', cursive;
	text-align: center;
	font-size: 50px;
	color:#800000;
	height: 150px;
}
/*Gallery and Images Styling*/
#dvdGallery{
	text-align: center;
	margin-top: 20px;
}

img{
	width: 188px;
	height: 286px;
	padding: 10px;
}
/*Search Bar and Button Styling*/
#search, #buttons{
	text-align: center;
	margin-top: 10px;
}

#search input[type=text]{
	width: 230px;
	height: 25px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-image: url(../images/icons/kiddysearch.png);
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding: 12px 25px;
}

#search input[type=text]:focus{
	border: 5px solid #800000;
	outline: none;
}

#buttons button{
	text-align: center;
	border: 5px solid #800000;
	background-color: #ccc;
	color: #800000;
	padding: 10px 20px;
	margin-right: 5px;
	font-size: 16px;
	border-radius: 24px;
	transition-duration: 0.4s;
}

#buttons button:hover{
	background-color: #800000;
	color: #ccc;
	outline:none;
}

#buttons button:focus{ 
outline: none;
}